{% include abs-link-base.html %}
{% include link-base.html %}
{% include abs-media-link-base.html %}
{% include media-link-base.html %}
<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ absLinkBase }}/wiki/styles/main.css" rel="stylesheet" />
<title>{{page.title}} | {{site.title}}</title>
<link rel="icon" type="image/x-icon" href="{{ absLinkBase }}/favicon.ico" />
<script src="{{ absLinkBase }}/wiki/scripts/turbolinks.js"></script>

<aside class="menu">
  <input type="checkbox" id="menu-toggle">
  <div class="background"></div>
  <label for="menu-toggle">
    <span class="menu-icon">&#8801;</span>
    Menu
  </label>
  <header>
    <a href="{{ absLinkBase }}/" class="logo">WIKI</a>
  </header>
  {% include menu.html %}
  <div class="frame"></div>
</aside>
<article>
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% assign mediaLinkBasePlaceholder = '{{ mediaLinkBase }}' %}
	{% assign absMediaLinkBasePlaceholder = '{{ absMediaLinkBase }}' %}
	{% assign absLinkBasePlaceholder = '{{ absLinkBase }}' %}
    {{ page.content | markdownify | replace: mediaLinkBasePlaceholder, mediaLinkBase | replace: absMediaLinkBasePlaceholder, absMediaLinkBase | replace: absLinkBasePlaceholder, absLinkBase }}
</article>
