@import url("../fonts/fonts.css");

body {
  background: black;
  /* background: gray; */
  font-size: 30px;
  font-family: "Gothic im Spiel";
  color: var(--text-body-color);
  margin: 0;
--text-accent-color: #c0a470;
--text-body-color: #baaf9a;
}


code {
  font-size: 0.6em;
  font-family: "Flat Brush";
  font-style: italic;
  color: var(--text-accent-color);
  display: inline;
}

strong {
  font-weight: normal;
  /* background-color: currentColor; */
  /* color: black; */
  display: inline-block;
  /* background-color: red; */
  background-color: black;
  /* filter: invert(100%); */
}

h1, h2, h3, h4 {
  font-family: "Gothic_alpha_font";
  font-weight: 100 !important;
  color: var(--text-accent-color);
}

code::before, code::after {
  content: '"';
}

*::selection {
  background: #550000fa;
  color: white;
}

a {
  text-decoration: none;
  /* color: white; */
}

a:hover {
  color: white;
}



.menu header {
  background-image: url("../images/header.png");
  display: block;
  height: 307px;
  width: 262px;
  margin: 0 0;
  position: relative;
  /* left: -45px; */
  background-position-y: -4px;
  /* background-position-x: -37px; */
  /* background-size: 580px auto; */
  margin-left: -50px;
  margin-top: -8px;
  z-index: 12;
  /* position: absolute; */
}

.menu header:hover {
  background-position-x: 326px;
}

#menu-toggle, label[for="menu-toggle"] {
  display: none;
}

@media (max-height: 715px), (max-width: 820px) and (max-height: 770px) {
  .menu {
      padding-bottom: 44px !important;
      overflow-y: scroll !important;
  }

  .menu > .background {
    width: calc(var(--menu-width) + var(--scrollbar-width)) !important;
  }
  .menu > .frame {
    box-shadow: 0 0 30px 0 black inset, 0 -100px 50px -50px #000000d9 inset !important;
  }
}

@media only screen and (max-width: 820px) {
  #menu-toggle:not(:checked) ~ *:not(label[for="menu-toggle"]) {
      display: none;
  }

  label[for="menu-toggle"] {
    display: block;
  }

  .menu {
    margin-right: -250px;
    position: fixed;
    top: 0;
    --menu-height: 753px !important;
  }

  .menu, .menu > .background, .menu > .frame {
      top: 10px !important;
      left: 10px !important;
      max-height: calc(100vh - 20px) !important;
  }

  #menu-toggle:not(:checked) ~ .background, #menu-toggle:not(:checked) ~ .frame {
    display: block !important;
    --menu-height: 81px;
  }

  #menu-toggle:not(:checked) ~ .frame {
    box-shadow: 0 0 30px 0 black inset, 0 -100px 50px -50px #00000000 inset !important;
  }
  
  #menu-toggle:checked ~ .background {
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / 50%);
  }
  
  .menu > #menu-toggle:not(:checked) ~ .background {
    width: var(--menu-width) !important;
  }
  article {
    margin-left: 18px !important;
    padding: 2em 6vw !important;
    padding: 2em calc(30vw - 202px) !important;
    margin-right: 10px;
    margin-top: 44px;
  }
  h2::before {
    opacity: 0 !important;
  }
}

label[for="menu-toggle"] {
  white-space: nowrap;
  /* margin-top: -12px; */
  cursor: pointer;
  color: var(--text-accent-color);
  padding-bottom: 17px;
  /* width: 205px; */
  /* display: none; */
  text-align: center;
  position: relative;
}

label[for="menu-toggle"]:hover {
  color: white;
}

*, *::before, *::after {
  user-select: none;
  box-sizing: border-box;
  image-rendering: pixelated;
}

article, article * {
  user-select: text;
}

.menu li {
  list-style-type: none;
  text-shadow: 2px 4px black, 4px 2px black, -2px -2px black;
  counter-increment: menu-items;
}

article li {
  list-style-type: none;
}

article li::before {
  content: '-';
  position: relative;
  top: -5px;
  width: 18px;
  display: inline-block;
  left: -20px;
  margin-right: -20px;
}

.menu li, .menu a {
  color: #c0a470;
}

.menu li:hover, .menu li:hover a {
  color: white;
}

h2 {
  margin-top: 3em;
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
  color: #ffe5b4;
  margin-left: 0;
}

article {
  padding: 2em 2em;
  padding-left: 3em;
}

.menu a.logo {
  display: block;
  width: 100%;
  height: 100%;
  padding: 294px 0 0 121px;
  font-family: sans-serif;
  color: #968d80;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.logo:hover {
  color: #968d80;
}


h2:first-of-type {
  margin-top: 1em;
}


body {
  display: flex;
  flex-direction: row;
}

.menu {
  width: 226px;
  flex-shrink: 0;
  z-index: 1;
  max-height: 100vh;
}

h2::before {
  content: '# ';
  position: relative;
  bottom: -5px;
  opacity: 0;
  cursor: text;
  width: 35px;
  display: inline-block;
  left: -35px;
  margin-right: -35px;
}

h2:hover::before {
  opacity: 0.3;
}

article li:hover {
  color: #ffe5b4;
}

article li:hover::before {
  color: white;
  content: '+';
  top: -2px;
}

.menu-icon {
  font-family: sans-serif;
  position: relative;
  bottom: -4px;
  padding: 0 11px;
  position: absolute;
  left: 0;
  top: 3px;
}

.menu > * {
  /* background: #000000b8; */
  /* backdrop-filter: blur(10px); */
}

.menu > ul {
  margin: 0;
  padding: 0 0 16px;
  padding-top: 11px;
}

article h2 {
  margin-left: 0px;
}

.menu > * {
  pointer-events: all;
}
.menu {
  pointer-events: none;
}
.menu {
  /* border-image-source: url("../images/stone-frame.png"); */
  /* border-width: 10px 0px 10px 8px; */
  /* border-style: solid; */
  /* border-image-slice: 17 12; */
  /* border-image-width: 22px 20px; */
  /* border-image-repeat: stretch; */
  /* background: #0000005e; */
  /* background-image: url("../images/glass-bg.png"); */
  /* border-image-outset: 9px 0px 9px 6px; */
  /* margin: 4px 4px; */
  /* padding-bottom: 7px; */
  /* backdrop-filter: blur(6px); */
  /* border-bottom-width: 10px; */
  /* box-sizing: border-box; */
  /* max-height: calc(100vh - 15px); */
  /* display: block; */
  /* height: auto; */
  /* position: fixed; */
  /* box-shadow: 24px 0 24px black, 0 24px 24px black; */
  /* overflow: visible; */
  /* margin-top: 9px; */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  /* display: flex; */
  /* max-height: calc(100vh - 19px) !important; */
  /* flex-direction: column; */
  /* flex-basis: auto; */
  /* flex: 1 1 auto; */
  /* flex-shrink: 1; */
  /* margin-left: 7px; */
  /* overflow-y: auto !important; */
  /* overflow-x: visible !important; */
  /* overflow-x: hidden; */
  width: calc(var(--menu-width) + var(--scrollbar-width)) !important;
  padding: 20px 15px;
  --menu-width: 219px;
  --menu-height: 715px;
  --scrollbar-width: 5px;
}

.menu {
  scrollbar-width: thin;
}

.menu::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.menu::-webkit-scrollbar-thumb {
  color: #ffcf71;
  background-color: #ffcf71;
  width: 12px;
  height: 12px;
}

.menu::-webkit-scrollbar, 
.menu::-webkit-scrollbar-button, 
.menu::-webkit-scrollbar-track, 
.menu::-webkit-scrollbar-track-piece, 
.menu::-webkit-scrollbar:vertical, 
.menu::-webkit-scrollbar-corner, 
.menu::-webkit-resizer {
  color: transparent;
  background-color: transparent;
}

article {
  margin-left: 205px;
  max-width: 80ch;
}

article > ul {
  margin-left: 0;
  padding-left: 2px;
  margin-top: 0px;
}

#menu-toggle:not(:checked) ~ label[for="menu-toggle"] {
  padding-bottom: 0;
  margin-bottom: 2px;
}

#menu-toggle:checked ~ label[for="menu-toggle"]::before {
  content: '';
  width: calc(100vw - 205px);
  height: 100vh;
  display: block;
  position: fixed;
  top: -21px;
  left: 205px;
  background: transparent;
  z-index: -10;
  width: 100vw;
  left: -16px;
  cursor: default;
}

#menu-toggle:checked ~ label[for="menu-toggle"]:hover {
  color: var(--text-accent-color) !important;
}

.menu > *:last-child {
  margin-bottom: -6px;
}

.menu > .background {
    /* content: ''; */
    /* display: block; */
    /* position: absolute; */
    /* width: calc(100% - 12px); */
    /* height: 100%; */
    z-index: -10;
    /* top: 0; */
    pointer-events: none;
    /* left: 0; */
    backdrop-filter: blur(8px);
    background-image: url("../images/glass-bg.png");
    box-shadow: 24px 0 24px rgb(0 0 0 / 95%), 0 24px 24px #0000001f;
}

aside.menu {}

.menu > .frame {
    content: '';
    /* display: block; */
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: 8; */
    /* top: 0; */
    /* left: 0; */
    border-image-source: url("../images/stone-frame.png");
    border-width: 17px 12px 17px 12px;
    border-style: solid;
    border-image-slice: 17 12;
    border-image-width: 22px 20px;
    /* border-image-repeat: stretch; */
    /* background: #0000005e; */
    /* background-image: url(../images/glass-bg.png); */
    /* border-image-outset: 9px 0px 9px 6px; */
    /* width: calc(var(--menu-width) + var(--scrollbar-width)); */
    pointer-events: none;
    box-shadow: 0 0 30px 0 black inset, 0 0 30px -30px black inset;
    /* box-shadow: 0 0 30px red, 0 0 30px blue inset; */
    border-bottom-width: 4px;
    border-top-width: 4px;
    transition: box-shadow 0.5s;
}

.menu, .menu > .background, .menu > .frame {
  /* --menu-width: 219px; */
  /* --menu-height: 700px; */
  /* --scrollbar-width: 12px; */
  width: var(--menu-width);
  height: var(--menu-height);
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

head, .menu:active > .frame {
    box-shadow: 0 0 30px #c0a470 inset, 0 -30px 30px -30px transparent inset;
    transition: box-shadow 1s;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: inherit;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
  color: inherit;
}
.menu a.active {
  color: white;
}
.menu ul a::before {
    content: counter(menu-items) ".";
    position: relative;
    /* left: -14px; */
    text-align: center;
    width: 40px;
    display: inline-block;
    /* padding-right: 9px; */
    padding-left: 12px;
}

.menu > ul {
    counter-set: menu-items -1;
}

.menu a {
    display: inline-block;
    width: 100%;
}

a.return-up {
  counter-increment: menu-items -1;
}

a.return-up::before {
  content: '';
}

.menu ul a.return-up::before {
  content: '▲';
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  top: -1px;
}